<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'トップ', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー一覧</li>
  </ol>
</nav>




<div class="container">

<div class="row">


  <div class="col-md-9">
    <h2>Users</h2>

    <%= render 'userslist',users: @users %>

  </div>
</div>
</div>