    <h1>User Info</h1>
<div class="container">
  <p id="notice"><%= notice %></p>
<div class="row">

<div class="col-md-9">
    <%= render 'musics/musicslist', musics: @musics%>
</div>

  <div class="col-md-3">
    <%= render 'users/info',{user: @user} %>
    <%= render 'relationships/follow_button', user: @user %>
  </div>
</div>
</div>


      <script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>