<h5 style="background-color:#4db6ac;">ランダム表示</h5>
 <ul class="list-unstyled">
  <% randmusics.each do |music| %>
  <li class="media mb-3">
    <%= attachment_image_tag music, :jacket_image, :fill, 50, 50, fallback: "no_music_image.png", size:'50x50' , class: 'align-self-center mr-3' %>
    <div class="media-body">
      <h5><%= link_to music.title, music %></h5>
      <p><%= audio_tag music.audio %><p>
      </div>
    </li>
    <% end %>
 </ul>