<div class="card-columns">


      <% musics.each do |music| %>
  <div class="card">
    <div class="card-header">
      <%= audio_tag music.audio %>
      <%= link_to music.title, music %>
    </div>
    <div class="card img-thumbnail">
    <img class="card-img-top"  <%= attachment_image_tag(music, :jacket_image, :fill, 200, 150, fallback: "no_image.jpg") %>

    </div>
    <div class="card-body">
      <p class="card-text"><%= music.description %></p>
    </div>
  </div>

<% end %>
</div>