<div class="container">

    <p id="notice"><%= notice %></p>

    <h1>Musics</h1>
  <div class="row">
    <div class="col-md-8">
      <%= render 'index', musics: @musics%>
  </div>
  </div>
    <br>

    <%= link_to 'New Music', new_music_path %>

    <div class="col-md-4">

    </div>

</div>


<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>