<div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col">
              <br>
              <p class="no-margin text-white" style="font-size: 11px;">
              <br>
              善良な市民同士で無差別に食欲を煽るSNS
          </p>
              <%#= image_tag('logo-white.png') %>
              
            </div>
          </div>
          <div class="col-md-2">
            <div class="col">
              <h4 class="text-white">Link</h4>
              <ul>
                <li>
                  <a href="" title="About", class="text-white">会社概要</a>
                </li>
                <li>
                  <a href="" title="License informations", class="text-white">プライバシーポリシー</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>