<div class="container">
  <div class="row">
    <div class="col-md-6">
        <br>
        <p class="no-margin text-white" style="font-size: 11px;">COPYRIGHT © 2020, Pasdim. ALL RIGHTS RESERVED.</p>
    </div>
  </div>
</div>