<div class="jumbotron jumbotron-fluid m-0">
  <div class="container">
    <div class="row">
    <div class="col-7">
    <h1 class="display-4 font-italic font-weight-bolder ml-5 mb-4" style="color:#333333;">PasDim</h1>
    <p class="lead font-weight-bolder" style="color:#333333;">これは親要素の全ての横方向の空白一杯に広がるように設定変更されたジャンボトロンです。</p>
    <p class="lead font-weight-bolder">これは親要素の全ての横方向の空白一杯に広がるように設定変更されたジャンボトロンです。</p>
    <p class="lead font-weight-bolder" style="color:#333333;">これは親要素の全ての横方向の空白一杯に広がるように設定変更されたジャンボトロンです。</p>
  </div>
  </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->