<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1 class="display-4 font-italic font-weight-bolder ml-5 mb-4" style="color:#333333;">PasDim</h1>
        <p class="lead font-weight-bolder" style="color:#333333;">趣味で作曲されている方向けの投稿サイト</p>
        <p class="lead font-weight-bolder" style="color:#333333;">そして気軽に視聴し、交流できるサイトを目標としています。</p>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->